:root {
    /* darkMode */
    --darkMode-background-color: #193055;
    --darkMode-color: #ffffff;
    --darkMode-corNav: #B8E4FE;
    --darkMode-hover: #8E8FFA;
}


body.dark {
    background-color: #193055;
    color: #ffffff;
}

.dark .bg-ghost {
    background-color: var(--darkMode-background-color);
}

.dark .nav-link:hover {
    color: var(--darkMode-corNav) !important;
}

.dark .nav-item #InicioNav {
    color: var(--darkMode-corNav);
}

.dark .toggler-icon {
    background: #ffffff;
}

.dropbtn {
    color: white;
}

.dropdown-content {
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #000 !important;
}

.dropdown-content a:hover {
    background-color: #dddd;
}

.dark a {
    color: #ffffff;
}

.dark a:hover {
    color: var(--darkMode-corNav);
}

.dark .slogan {
    color: var(--darkMode-corNav);
}

.dark .Inicio .titulo .dualTone {
    color: var(--darkMode-corNav);
}

.dark .Inicio .btnServicos .btn {
    color: var(--darkMode-corNav);
    border-color: var(--darkMode-corNav);
}

.dark .Inicio .btnServicos .btn:hover {
    color: var(--darkMode-color);
    border-color: var(--darkMode-hover);
    box-shadow: inset 0px 0px 50px 5px rgba(142, 143, 250, 0.65);
}

.dark .sobreNos .titulo .dualTone {
    color: var(--darkMode-corNav);
}

.dark .sobreNos .btnServicos .btn {
    color: var(--darkMode-corNav);
    border-color: var(--darkMode-corNav);
}

.dark .sobreNos .btnServicos .btn:hover {
    color: var(--darkMode-color);
    border-color: var(--darkMode-hover);
    box-shadow: inset 0px 0px 50px 5px rgba(142, 143, 250, 0.65);
}

.dark .sobreNos .pontosFortes .conteudo .imagem {
    background: rgba(184, 228, 254, 0.30);
}

.dark .sobreNos .pontosFortes .conteudo .imagem .icon {
    color: #B8E4FE;
}

.dark .servicos .titulo .dualTone {
    color: var(--darkMode-corNav);
}

.dark .servicos .servicosList .card {
    border-color: var(--darkMode-corNav);
}

.dark .servicos .servicosList .card {
    border-color: var(--darkMode-corNav);
}

.dark .servicos .servicosList .card .icon {
    color: var(--darkMode-corNav);
}

.dark .servicos .servicosList .card .lerMais a {
    color: var(--darkMode-corNav);
}

.dark .servicos .servicosList .card .icon svg {
    fill: var(--darkMode-corNav) !important;
    color: var(--darkMode-corNav) !important;
}

.dark .contacto .titulo .dualTone {
    color: var(--darkMode-corNav);
}