.showned {
    display: inline;
    animation: 0.5s forwards show-right;
}

.hiden {
    display: none;
}

.navbar-brand .logo {
    width: 20%;
    height: 20%;
}

.nav-link {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-link span {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn {
    transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s, border-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s;
}

.procurar {
    border: none;
    height: 38px;
}

@media screen and (min-width: 1249px) {
    /* .navbar.ps-5 {
        padding-left: 10% !important;
    }
    
    .navbar.pe-5 {
        padding-right: 10% !important;
    } */

    .nav-link {
        margin-left: 30px;
    }

    .tema {
        margin-left: 10px;
    }
}

@media screen and (min-width: 992px) {
    .tema {
        margin-left: 10px;
    }
}

@media screen and (max-width: 462px) {
    .navbar-brand {
        width: 70%;
    }

    .navbar-brand .logo {
        width: 30%;
        height: 30%;
    }
}

.navbar-toggler {
    border: none;
    width: 20px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.middle-bar {
    margin-top: 0 !important;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.35s ease-in-out;
}

.navbar-toggler .top-bar {
    margin-top: 0px !important;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;

}

.navbar-toggler .bottom-bar {
    margin-top: 0px !important;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -15px !important;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 15px !important;
    transform: rotate(0deg);
}

.dropbtn {
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content #dropdownItem4:hover {
    border-radius: 0px 0px 10px 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (min-width: 1249px) {
    .dropdown:hover .dropdown-content {
        margin-left: 30px;
    }
}