body {
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../ASSETS/fundo.png") #08093cb3;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    filter: blur(5px);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.container {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin: 10px;
}

.top p {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    width: 160px;
    text-align: center;
}

.logo {
    width: 10%;
    height: 10%;
    margin-right: 25px;
}

.title {
    margin: 60px 0px;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
}

h3 {
    margin-bottom: 10px;
}

.social-text {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

i {
    font-size: 35px;
    margin: 10px;
}

.progress-wrapper {
    width: 100%;
    background: #2f2b2bc7;
    display: flex;
    margin-bottom: 20px;
    border-radius: 5px;
}

.progressText {
    width: 0%;
    height: 10px;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    transition: all 5 ease-in;
}

.progressText span {
    color: white;
    position: relative;
    top: 13px;
    left: 25px;
    font-weight: 800;
    transition: all 5 ease-in;
}

.fa-linkedin-in:hover,
.fa-instagram:hover {
    color: #cbb26a
}

.Footer {
    background-color: #193055;
    margin-top: 13.1%;
}

.Footer .linkedin {
    color: #b8e4fe;
    cursor: pointer;
}

.footer-icon {
    height: 40px;
    margin: 0px 10px;
}

@media screen and (max-width: 992px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 840px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 30px;
    }

    .Footer {
        margin-top: 33%;
    }
}

@media screen and (max-width:640px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 30px;
    }

    i {
        font-size: 25px;
        margin: 10px;
    }
}

@media screen and (max-width:400px) {
    h1 {
        font-size: 20px;
    }
}